.aside p {
  text-align: left;
  font-size:11px;
  letter-spacing: 0px;
  color: #16232C;
  opacity: 1;
}

.aside .card {
  width: 363px;
  height: 100px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: 10px;
}
.icon{
  display: flex;
  justify-content: space-between;
}
.icon span{
color: #dadad7;
font-size: 12px;
margin-right: 28px;
}