.content-header {
  display: flex;
}

.content-header img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-right: 7px;
}

.content-header span {
  color: #dadad7;
  font-size: 12px;
  margin: 7px;
}

.content-header p {
  color: #0464D3;
  margin: 4px;
}